/* Eric Meyer's Reset CSS v2.0 - http://cssreset.com */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}

p, a, h1, h2, h3, {
	font-family: times;
}

/*------ main out divs tags ------*/

#out-head {
	width: 100%;
	background: rgb(231,98,120);
}
#out-content {
	width: 100%;
}
#out-footer {
	width: 100%;
	background: #2b2b2b;
}

/*------ main in divs tags ------*/

#in-head, #in-content, #in-footer  {
	width: 980px;
	margin: 0 auto;
}

/*------ in head ------*/

.logo {
	width: 500px;
	font-size: 50px;
	clear: right;
	padding-top: 50;
	color: #fff;
}

/*------ menu-bar ------*/

.nav {
	float: right;
	padding: 50px 0 50px 0;
	margin-top: -80px;
}
.nav li {
	float: left;
	display: block;
	list-style: none;
	padding: 0 0 0 25px;
}
.nav li a {
	font-size: 25px;
	text-decoration: none;
	color: #fff;
	font-family: times;
	-webkit-transition: all .25s ease-in-out;
	-moz-transition: all .25s ease-in-out;
	-ms-transition: all .25s ease-in-out;
	-o-transition: all .25s ease-in-out;
	transition: all .25s ease-in-out;
}
.nav li a:hover {
	text-decoration: underline;
	text-shadow: 0 0 5px #fff;
}

/*------ top-post ------*/

.top-post {
	display: block;
	clear: right;
	padding: 50px 0 50px 0;
}
.top-post h3 {
	font-size: 25px;
	color: #fff;
	padding-bottom: 20px;
}
.top-post p {
	width: 600px;
	padding-top: 30px;
	font-size: 20px;
	color: #fff;
	line-height: 30px;
}
.top-post img {
	float: right;
	width: 300px;
	height: 300px;
	border-radius: 100%;
	border: 3px solid rgb(250,198,153);
	margin-top: -45px;
}

/*------ top-post-button ------*/

.butt {
	clear: left;
	display: block;
	padding: 70px 0 20px 0;
}
.butt a {
	background: rgba(43, 43, 43, 0.69);
	color: #fff;
	text-align: center;
	text-decoration: none;
	font-size: 20px;
	padding: 15px 50px 15px 50px;
	-webkit-transition: all .25s ease-in-out;
	-moz-transition: all .25s ease-in-out;
	-ms-transition: all .25s ease-in-out;
	-o-transition: all .25s ease-in-out;
	transition: all .25s ease-in-out;
}
.butt a:hover {
	background: #AC268C;
}
.butt a:active {
	box-shadow: 0 0 5px #000;
}

/*------ article ------*/

.article {
	width: 326px;
	display: block;
	float: left;
	padding: 30px 0 30px 0;
}
.article img {
	width: 100px;
	height: 100px;
	border-radius: 100%;
	border: 3px solid rgb(250,198,153);
	float: left;
}
.article h3 {
	font-size: 25px;
	color: #777;
	padding: 30px 15px 30px 15px;
	text-align: center;
}
.article p {
	color: #777;
	text-align: center;
	font-size: 15px;
	line-height: 25px;
}
.icons {
	text-align: center;
	font-size: 100px;
	color: rgb(231,98,120);
}

/*------ article-button ------*/

.butt-post {
	display: block;
	padding: 50px 0 20px 0;
	width: 163px;
	margin: 0 auto;
}
.butt-post a {
	background: rgb(79,138,131);
	color: #fff;
	text-align: center;
	text-decoration: none;
	font-size: 15px;
	padding: 10px 30px 10px 30px;
	-webkit-transition: all .25s ease-in-out;
	-moz-transition: all .25s ease-in-out;
	-ms-transition: all .25s ease-in-out;
	-o-transition: all .25s ease-in-out;
	transition: all .25s ease-in-out;
}
.butt-post a:hover {
	background: #AC268C;
}
.butt-post a:active {
	box-shadow: 0 0 5px #000;
}

/*------ about-us-post ------*/

.article-us {
	width: 326px;
	display: block;
	float: left;
	padding: 30px 0 30px 0;
}
.article-us img {
	width: 250px;
	height: 250px;
	border-radius: 100%;
	border: 3px solid rgb(250,198,153);
}
.article-us h3 {
	font-size: 25px;
	color: #777;
	padding: 30px 15px 30px 15px;
	text-align: center;
}
.article-us p {
	color: #777;
	text-align: center;
	font-size: 15px;
	line-height: 25px;
}
.boximg {
	width: 257px;
	margin: 0 auto;
}

/*------ page-heading ------*/

.link {
	text-align: center;
	padding: 60px 0 60px 0;
	display: block;
	clear: both;
}

.link h1 {
	font-size: 70px;
}
.link a {
	text-decoration: none;
	color: #777;
}


.line {
	width: 100%;
	height: 1px;
	background: #ECECEC;
	margin-bottom: 50px;
}

/*------ clearfix -----*/

.clearfix:after {
    content: "."; 
    display: block; 
    height: 0; 
    clear: both; 
    visibility: hidden;
}

.clearfix {display: inline-block;}

/* Hides from IE-mac \*/
* html .clearfix {height: 1%;}
.clearfix {display: block;}
/* End hide from IE-mac */
/* @end */


/*------ Contact Form ------*/

.form {
	width: 500px;
}
input, textarea {
	padding: 10px;
	border: 1px solid #E5E5E5;
	width: 350px;
	color: #999999;	
	-webkit-transition: all .75s ease-in-out;
	-moz-transition: all .75s ease-in-out;
	-ms-transition: all .75s ease-in-out;
	-o-transition: all .75s ease-in-out;
	transition: all .75s ease-in-out;
}

textarea {
	width: 400px;
	height: 150px;
	max-width: 400px;
	line-height: 18px;
}


.form label {
	margin-left: 10px;
	color: #777;
	font-size: 20px;
}
.name, .email, .web, .text, .submit {
	padding: 5px;
}
/*------ Submit Button ------*/

.submit input {
	width: 200px;
	background: rgb(79,138,131);
	color: #fff;
	text-align: center;
	text-decoration: none;
	font-size: 15px;
	padding: 10px 30px 10px 30px;
	border: none;
	-webkit-transition: all .25s ease-in-out;
	-moz-transition: all .25s ease-in-out;
	-ms-transition: all .25s ease-in-out;
	-o-transition: all .25s ease-in-out;
	transition: all .25s ease-in-out;
}
.submit input:hover {
	background: #AC268C;
	padding: 10px 30px 10px 30px;
}
.submit input:active {
	box-shadow: 0 0 5px #000;
}

/*------ contactus page ------*/

#contactus {
	padding: 60px 0 60px 0;
	width: 420px;
	float: left;
}
.maps {
	margin-top: 70px;
	margin-bottom: 119px;
	width: 490px;
	height: 300px;
	float: right;
}


#out-footer {
	left: 0;
	position: absolute;
}
.nav-footer {
	display: block;
	float: left;
	width: 150px;
	margin-top: -50px;
	margin-bottom: 50px;
}
.nav-footer li {
	list-style: initial;
}
.nav-footer li a {
	text-align: center;
	text-decoration: none;
	color: #fff;
	line-height: 20px;
}
.nav-footer li a:hover {
	text-decoration: underline;
}
.nav-box {
	width: 500px;
	float: right;
}
.nav-box h4 {
	font-size: 20px;
	color: #fff;
	padding-bottom: 20px;
}